@import url("https://unpkg.com/leaflet@1.7.1/dist/leaflet.css");
#map {
  margin: 0 auto;
  width: 100%;
  min-height: 400px;
  max-height: 500px;
  height: 100%;
}

.leaflet-popup-content img{
  width: 100%;
}